* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(101, 235, 173);
}
.library-text {
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgb(78, 121, 150);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
input[type=text] {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  /* This is where form will be hidden by default */
  .form-popup {
    display: none;
    width: 25%;
    justify-content: center;
    height: 400px;
    margin-left: 45em;
    background-color: #92ea92;
    border-radius: 15px;
  }
  form {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
    color: rgb(88, 87, 87);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.add-btn-container {
    display: flex;
    justify-content: center;
    padding: 45px;
}
.submit-btn {
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.submit-btn:hover {
    background-color:#5cbf2a;
}
.submit-btn:active {
    position:relative;
	top:1px;
}
.x-container {
    position: absolute;
    top: 21em;
    right: 46em;
}
.x {
    background-color:#44c767;
	border-radius:70%;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    width: 32px;
}
.x:active {
    position:relative;
	top:1px;
}
.x:hover {
    background-color:#5cbf2a;
}
.add-book {
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.add-book:hover {
	background-color:#5cbf2a;
}
.add-book:active {
	position:relative;
	top:1px;
}
.card1 {
    display: flex;
    width: 10%;
    height: 13em;
    text-align: center;
    gap: 14px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 3px solid black;
}